<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("../partial/meta.ejs")%>
   <title><%= title %></title>
</head>
<body>
    <%-include("../partial/data.ejs")%>
    <h1>This is Index EJS File </h1>
</body>
</html>